kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: {{node_ip}}
port: 10250
readOnlyPort: 10255
cgroupDriver: cgroupfs
clusterDNS: ["10.100.0.2"]
clusterDomain: cluster.local.
failSwapOn: false
authentication:
  anonymous:
    enabled: true
